@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.add-data-header {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    font-family: Poppins;
}

.main-div {
    margin: auto;
    width: 100vw;
    padding-top: 100px;
    display: block;
    height: 80vh;
    overflow: hidden;
}

.add-data-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    gap: 5px;
}

.add-data-form-container-1 {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px 0px 15px;
    width: 25vw;
    position: relative;
    border-radius: 20px;
    background-color: #363636c2;
    display: flex;
    flex-direction: row;
}

.add-data-form-container-2 {
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    width: 25vw;
    position: relative;
    border-radius: 20px;
    background-color: #ffffff99;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.team-submit {
    padding: 10px 15px 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    margin: auto;

    background-color: rgba(60, 60, 60, 0.73);
    color: silver;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: Poppins;
    font-size: 17px;
    box-shadow: 2px 5px 10px rgb(0, 0, 0);
    transition: all 1s ease;
}

.reset {
    width: fit-content;
    font-family: Poppins;
    /* left: 44.5vw; */
}

.player-submit {
    padding: 10px 15px 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    margin: auto;

    background-color: rgba(60, 60, 60, 0.73);
    color: silver;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: Poppins;
    font-size: 17px;
    box-shadow: 2px 5px 10px rgb(0, 0, 0);
    transition: all 1s ease;
}

.reset-1 {
    width: fit-content;
    font-family: Poppins;
    /* left: 45.55vw; */
    padding-left: 2%;
    padding-right: 2%;
}

.vertical-line {
    border: rgb(0, 0, 0) solid 1px;
    height: 70%;
    font-family: Poppins;
    margin: 2%;
    width: 0px;
}

.add-data-form-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 4vh;
}

.add-data-form-inputs {
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 90%;
    color: white;
    flex-direction: column;
}

.add-data-form-input-insides {
    background-color: #70707099;
    height: 5vh;
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
    font-family: Poppins;
    color: white;
    padding-left: 10%;
    margin-bottom: 10px;
}

.add-data-form-input-insides::placeholder {
    color: white;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.add-data-form-input-insides option {
    background-color: #00000099;
    font-size: 20px;
    overflow-x: hidden;
}

.add-data-form-input-insides-image {
    position: relative;
    left: 10%;
    scale: 120%;
    padding: 2px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    /* width: 4.5vw; */
    overflow: hidden;
    /* Ensure content overflow is hidden */
}

.player-submit:hover {
    transform: scale(110%) translateY(-2px);
  /* background-color: grey; */
  box-shadow: 7px 7px 15px black;
  /* color: rgba(0, 0, 0, 0.63); */
}

.conditional-com-1 {
    transition: all 0.5s ease;
}

.show {
    opacity: 1;
    transform: translateY(10vh);
}

.hide {
    /* opacity: 0; */
    transform: translateY(-70vh);
}

.conditional-com-2 {
    transition: all 0.5s ease;
}

.show-cap {
    transform: translateY(-165vh);
}

.team-submit:hover {
    transform: scale(110%) translateY(-2px);
    /* background-color: grey; */
    box-shadow: 7px 7px 15px black;
    /* color: rgba(0, 0, 0, 0.63); */
}





/* Popup container */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.475);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Popup content */
.popup-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-family: Poppins;
    font-size: 20px;
    align-items: center;
    background-color: rgb(65, 65, 65);
    padding: 20px;
    top: 175vh;
    position: absolute;
    width: 60%;
    transition: all 1s ease;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.labels {
    margin-right: 10px;
}

.merch-price {
    /* background-color: #ffffff99; */
    height: 5vh;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    width: 80px;
    color: white;
    background-color: #323232;
    /* padding-left: 10%; */
    /* margin-left: 10px; */
}
.merch-title{
    color: grey;
}
.form-for-merch {
    display: flex;
    gap: 90px;
    /* justify-content: space-between; */
}

.form-container-for-merch {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}

.merch-submit {
    padding: 10px 15px 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  /* margin: auto; */
  background-color: rgba(0, 0, 0, 0.193);
  color: grey;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: Poppins;
  font-size: 17px;
  box-shadow: 2px 5px 10px black;
  transition: all 1s ease;
}

.merch-submit:hover {
    transform: scale(110%) translateY(-2px);
  /* background-color: grey; */
  box-shadow: 7px 7px 15px black;
  /* color: rgba(0, 0, 0, 0.63); */
}

.merch-name {
    height: 5vh;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: #323232;
    width: 150px;
}