.background {
    background-color: rgba(0, 0, 0, 1);
    /* color: rgba(240, 248, 255, 0.558);  */
    /* background-image: url('C:\Gribbons\DBMS_miniproject\esports\src\pages\skull-artwork-minimalism-gray-background-call-of-duty-call-of-duty-ghosts-dishonored-wallpaper-preview.jpg'); */
    /* background-size: cover;
    background-blend-mode: color-dodge ; */
    height: 100vh;
    top: 0;
    width: 100vw;
    justify-content: center;
    position: fixed;
    align-items: center;
    display: block;
    z-index: -44;
}
body::-webkit-scrollbar {
    width: 0;  /* This will hide the scrollbar for webkit browsers */
  }
.background-img {
    position: fixed;
    /* top: 30px; */
    /* left: 6vw;  */
    /* width: 90%; */
    /* height: 101%; */
    object-fit: cover;
    filter: blur(5px) brightness(20%);
    /* animation-name: shaker; */
    animation: shaker 0.3s linear infinite both;
    /* Ensure the image covers the entire container */
    z-index: -1;
}
@keyframes shaker {
    0%{transform: translate(0px);}
    25%{transform: translate(5px,-5px);}
    50%{transform: translate(0px);}
    75%{transform: translate(-5px,-5px);}
    100%{transform: translate(0px);}
}