/* Ensure the background image covers the entire viewport and adjusts on resize */
.background {
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* top: 0;
    left: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -44;
}

.background-img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire background */
    filter: blur(5px) brightness(20%);
    animation: shaker 0.3s linear infinite both;
    z-index: -1;
}

/* Hide scrollbar for webkit browsers */
body::-webkit-scrollbar {
    width: 0;
}

/* Adjust the keyframes for smaller devices if needed */
@keyframes shaker {
    0% { transform: translate(0px); }
    25% { transform: translate(5px, -5px); }
    50% { transform: translate(0px); }
    75% { transform: translate(-5px, -5px); }
    100% { transform: translate(0px); }
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .background {
        height: auto;
    }

    .background-img {
        width: 100%;
        height: auto;
    }
}
