.games-card-list {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.games-card {
    background-color: rgba(0, 0, 0, 0.69);
    border-radius: 10px;
    flex: 1 0 calc(20% - 20px); /* Adjust width based on 4 items per row */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 1vw;
    position: relative;
    display: flex;
    height: 60vh;
    width: 20vw;
    transition: all 1s ease;
    color: rgba(255, 255, 255, 0.482);
}
.game-text-inside{
    font-size: 18px;
    text-align: justify;
}
.game-text-header{
    font-size: 50px;
    color: white;
}
.roll-animation{
    transition: all 1s ease;
    height: 40vh;
    color: rgba(255, 255, 255, 0.482);
    z-index: 4;
}
.roll-animation:hover .game_image{
    transform: translateY(-40vh);
    opacity: 0%;
}
.roll-animation:hover .games-text{
    transform: translateY(-30vh);
    opacity: 100%;
}
.game_image{
    width: 20vw;
    margin-top: 10vh;
    justify-content: center;
    margin-bottom: auto;
    transition: all 1s ease;
}
.games-text{
    position: absolute;
    bottom: -30vh;
    padding-right: 20px;
    opacity: 0%;
    transition: all 1s ease;
}