body{
    background-color: rgba(0, 0, 0, 0.9); 
    color: rgba(240, 248, 255, 0.558);
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/913/792/desktop-wallpaper-black-gaming-logo-esports-logo.jpg);
    background-size: cover;
    background-blend-mode:overlay;
}
.container {
    display: flex; /* Use flexbox layout */
    list-style-type: none;
    padding: 100px;
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .left-div, .right-div {
    flex: 1; /* Distribute remaining space equally */
  }
  
  /* Optional styling */
  .left-div {
    padding: 20px; /* Example padding */
    overflow: hidden;
  }
  
  .right-div {
    background-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin: 1vw;
    position: relative;
    padding: 10vh;
    padding-top: 20vh;
    display: flex;
    height: 30vh;
    width: 20vw;
    transition: all 1s ease;
    color: rgba(255, 255, 255, 0.937);
  }
  .left-div {
    background-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin: 1vw;
    position: relative;
    padding: 10vh;
    padding-top: 15vh;
    display: flex;
    height: 30vh;
    width: 20vw;
    transition: all 1s ease;
    color: rgba(255, 255, 255, 0.937);
  }
  .team_logo{
    width: 20vw;
    padding-bottom: 10vh;
    filter: invert(100);
  }
  .game_logo{
    width: 20vw;
    padding-bottom: 10vh;
  }
  .text_home{
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
  }
  .outer-animation{
    transition: all 1.5s ease;
    height: 40vh;
    color: rgb(255, 255, 255);
    z-index: 4;
  }
  .outer-box-right{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    height: 45vh;
    overflow: hidden;
    width: 40vw;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12vh;
    padding-bottom: 4vh;
    transition: all 1.5s ease;
  }
  .home-text{
    position: absolute;
    bottom: -50vh;
  }
  .outer-animation:hover{
    transform: translateY(-70vh);
  }