/* body{
    background-color: rgba(0, 0, 0, 0.9); 
    color: rgba(240, 248, 255, 0.558);
    background-image: url('C:\Gribbons\DBMS_miniproject\esports\src\pages\skull-artwork-minimalism-gray-background-call-of-duty-call-of-duty-ghosts-dishonored-wallpaper-preview.jpg');
    background-size: cover;
    background-blend-mode: color-dodge ;
    position: fixed;
} */
.main-container-home{
  display: block;
  margin: auto;
  width: 100vw;
  padding: 10% 10% 10% 0%;
}
.container {
    display: flex; /* Use flexbox layout */
    list-style-type: none;
    /* margin: 0; */
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .left-div, .right-div {
    flex: 1; /* Distribute remaining space equally */
  }
  
  /* Optional styling */
  .left-div {
    padding: 20px; /* Example padding */
    overflow: hidden;
  }
  
  .right-div {
    background-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin: 1vw;
    position: relative;
    padding: 10vh;
    padding-top: 20vh;
    display: flex;
    height: 30vh;
    width: 20vw;
    transition: all 1s ease;
    color: rgba(255, 255, 255, 0.937);
  }
  .left-div {
    background-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin: 1vw;
    position: relative;
    padding: 10vh;
    padding-top: 15vh;
    display: flex;
    height: 30vh;
    width: 20vw;
    transition: all 1s ease;
    color: rgba(255, 255, 255, 0.937);
  }
  .team_logo{
    width: 20vw;
    padding-bottom: 10vh;
    filter: invert(100);
    transition: all 1s ease;
  }
  .game_logo{
    width: 20vw;
    padding-bottom: 10vh;
    transition: all 1s ease;
  }
  .text_home{
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
  }
  .outer-animation{
    transition: all 1.5s ease;
    height: 40vh;
    color: rgb(255, 255, 255);
    z-index: 4;
  }
  .outer-box-right{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    height: 45vh;
    overflow: hidden;
    width: 40vw;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12vh;
    padding-bottom: 4vh;
    transition: all 1s ease;
  }
  .home-text{
    position: absolute;
    bottom: -1vh;
    opacity: 0%;
    transition: all 1s ease;
  }
  .outer-animation:hover .game_logo{
    transform: translateY(-10vh);
    opacity: 0%;
  }
  .outer-animation:hover .team_logo{
    transform: translateY(-10vh);
    opacity: 0%;
  }
  .outer-animation:hover .home-text{
    transform: translateY(-25vh);
    opacity: 100%;
  }