.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    margin-right: 10px;
  }
  
  .logo-name {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
    color: aliceblue;
    font-family: monospace;
    font-size: xx-large;
    padding-right: 10px;
    transition: all 0.5s ease;
  }
  
  .navbar-links li {
    display: inline;
    margin-right: 25px;
  }
  
  .navbar-links li:last-child {
    margin-right: 0;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links li a:hover {
    color: #ccc;
    transform: translateY(-0.2vh);
  }
  .navbar-links:hover {
    color: #ccc;
    transform: translateY(-0.2vh);
  }
  