.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4747478f;
    padding: 10px 20px;
    width: 96.7vw;
    position: fixed;
    left: 0px;
    top: 0px;
    transition: all 3s ease;
  }
  body{
    position: absolute;
    overflow-x: hidden;
  }
  .navbar-logo {
    display: flex;
    align-items: center;
    width: 20vw;
    overflow: hidden;
  }
  .logo-img {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    margin-right: 20vw;
  }
  
  .logo-name {
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    right: 0;
  }
  
  .navbar-links {
    list-style-type: none;
    padding: 0;
    margin-right: 10px;
    color: aliceblue;
    font-family: monospace;
    font-size: xx-large;
    padding-right: 10px;
    transition: all 0.5s ease;
  }
  
  .navbar-links-1,.navbar-links-2,.navbar-links-3  {
    display: inline-block;
    position: relative;
    transition: all 1s ease;
    margin-right: 25px;
  }
  
  .navbar-links-3{
    margin-right: 0;
  }
  
  .navbar-links  a {
    color: #fff;
    transition: all 1s ease;
    text-decoration: none;
  }

  /* .navbar-logo:hover{
    transform: translateX(-20vh);
  } */
  .navbar {
    position: relative;
  }
  
  .navbar-text {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    transition: all 1s ease;
    position: relative;
    color: #fff;
    left: -5vw;
    z-index: 0;
    font-size: 40px;
    font-weight: bold;
    font-family:monospace;
    text-decoration: none;
  }
  
  .navbar-image {
    position: relative;
    left: -15vw;
    width: 15vh;
    z-index: 4;
    opacity: 0%;
    visibility: hidden;
    transition: all 1s ease;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }
  
  .navbar-logo:hover .navbar-text {
    transform: translateX(-20vh);
    opacity: 0%;
    visibility: hidden;
  }
  
  .navbar-logo:hover .navbar-image {
    transform: translateX(18vw);
    opacity: 100%;
    visibility: visible;
  }
  
  .links{
    text-decoration: none;
  }
  .navbar-links a:hover{
    color: rgba(251, 251, 251, 0.618);
    transform:scale(20px)
  }

  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6b6b6b87;
    position: fixed;
    color: white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    left: 15vw;
    top: auto;
    border-radius: 20px;
    transition: background-color 0.3s;
    cursor:none;
  }
  
  .back-button:hover {
    filter: invert(100%);
  }