@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.player-desc .spec-player-image{
    flex: 1;
    color: aliceblue;
}
.spec-player-container{
    display:flex;
    width: 60vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1vw;
}

.player-desc{
    position: relative;
    color: aliceblue;
    padding-left: 5vw;
    font-size: 20px;
    font-family: Poppins;
    letter-spacing: 2px;
    font-weight: 100;
}
.spec-player-name{
    position: relative;
    font-size: 50px;
    letter-spacing: 10px;
    font-family: Poppins;
}
.spec-player-image{
    height: 70vh;
}