.player-desc .spec-player-image{
    flex: 1;
    color: aliceblue;
}
.spec-player-container{
    display:flex;
    width: 60vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1vw;
}

.player-desc{
    color: aliceblue;
    padding-left: 5vw;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: 100;
}
.spec-player-name{
    font-size: 50px;
    letter-spacing: 10px;
    font-family: monospace;
}