.team-card-list {
    list-style-type: none;
    padding: 20px;
    margin-right: 40px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.team-card {
    background-color: rgba(65, 63, 63, 0.69);
    border-radius: 10px;
    flex: 1 0 calc(40%); /* Adjust width based on 4 items per row */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 1vw;
    position: relative;
    flex-direction: column;
    display: flex;
    /* height: 60vh; */
    width: 20vw;
    transition: all 1s ease;
    color: rgba(255, 255, 255, 0.482);
}
.team-text-inside{
    font-size: 20px;
}
.team-text-header{
    font-size: 50px;
    text-align: center;
    color: white;
}
.team-roll-animation{
    transition: all 1.5s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;    
    height: 60vh;
    color: rgba(255, 255, 255, 0.482);
    z-index: 4;
}
.team-roll-animation:hover .team-text{
    transform: translateY(-30vh);
    opacity: 100%;
}
.team-roll-animation:hover .team_image{
    transform: translateY(-10vh);
    opacity: 0%;
}
.team_image{
    width: 400px;
    margin-top: 3vh;
    /* left: 0; */
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    height: fit-content;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}
.team-text{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    /* bottom: -50vh; */
    opacity: 0%;
    transition: all 1s ease-in-out;
}
