.team-card-list {
    list-style-type: none;
    padding-top: 100px;
    /* margin-right: 40px; */
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}
.team-card {
    background-color: rgba(28, 28, 28, 0.69);
    border-radius: 10px;
    flex: 1 0 calc(10%); /* Adjust width based on 4 items per row */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 1%;
    /* width: 20vw; */
    transition: all 1s ease;
    color: rgba(255, 255, 255, 0.482);
}
.team-text-inside{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.link-card{

    text-decoration: none; 
}
.team-text-header{
    font-size: 50px;
    text-align: center;
    color: white;
}
.team-roll-animation{
    transition: all 1.5s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center; 
    justify-content: center;   
    height: fit-content;
    /* margin-top: 100px; */
    color: rgba(255, 255, 255, 0.482);
    z-index: 4;
}
.team-roll-animation:hover .team-text{
    transform: translateY(0vh);
    opacity: 100%;
}
.team-roll-animation:hover .team_image{
    transform: translateY(-20vh) rotateX(90deg);
    opacity: 0%;
}
.team_image{
    width: 400px;
    /* margin-top: 3vh; */
    /* left: 0; */
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    height: 400px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
.team-text{
    position: absolute;
    transform: translateY(25vh) rotateX(90deg);
    width: 100%;
    /* padding-left: 20px; */
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* bottom: -50vh; */
    opacity: 0%;
    transition: all 0.5s ease-in-out;
}

/* Responsive styles */

/* For small devices (phones, up to 600px) */
@media (max-width: 600px) {
    
}

/* For medium devices (tablets, 600px to 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
    .team-card-list{
        flex-direction: row;
        /* width: 70vw; */
    }
    .team-card{
        flex: 1 0 calc(100%);
    }
    .team-roll-animation{
        height: fit-content;
    }
}

/* For large devices (desktops, 1024px to 1440px) */
@media (min-width: 1024px) and (max-width: 1440px) {
    .team-card-list{
        flex-direction: row;
        /* width: 70vw; */
    }
    .team-card{
        flex: 1 0 calc(40%);
    }
    .team-roll-animation{
        height: fit-content;
    }
}

/* For extra large devices (large 4K TVs, 1440px and above) */
@media (min-width: 1440px) {
    .team-card-list{
        flex-direction: row;
        /* width: 70vw; */
    }
    .team-card{
        flex: 1 0 calc(20%);
        height: 50vh;
    }
    .team-roll-animation{
        height: fit-content;
    }
}